.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-left:32px;
    padding-right:32px;
    margin-top: 32px;
}
  
.addCompany > div {
    display: block;
}

.inputSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.formInput {
    padding: 10px 15px;
    border: 1px solid rgb(213, 213, 212);
    border-radius: 4px;
    font-size: 14px;
}

.inputLabel {
    margin-bottom: 8px;
    margin-top: 12px;
}

.labelGroup {
    margin-top: 12px;
    margin-bottom: 8px;
}

.labelSubtitle {
    margin-left: .5rem
}

.sectionHeading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

.submitButton, .disabledSubmitButton {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #EF5701;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    margin-top: 20px;
}

.disabledSubmitButton {
    filter: brightness(0.8);
    cursor: default!important;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px
}

#companyURL {
    flex-grow: 1;
    margin-left: 20px;
}

#companyLocation, #category, #fundingStage {
    margin-left: 20px;
    width: calc(25% - 20px);
}

#foundingYear {
    width: calc(25% - 20px);
}

#companyLocation {
    flex-grow: 1;
}

#founderName, #founderGradYear {
    width: calc(25% - 20px);
}

#founderGradYear, #founderURL {
    margin-left: 20px;
}

#founderURL {
    flex-grow: 1;
}

@media (max-width: 670px) {
    .inputSection, .labelGroup {
        font-size: 12px!important;
    }
}

@media (max-width: 600px) {
    .inputSection {
        flex-direction: column!important;
    }

    .formInput {
        width: 100% !important;
    }

    .inputGroup {
        margin-left: 0!important;
    }

    #companyURL {
        margin-left: 0!important;
    }

    #companyLocation, #category, #fundingStage, #foundingYear {
        margin-left: 0!important;
        width: 100% !important;
    }

    #founderName, #founderGradYear, #founderURL {
        margin-left: 0!important;
        width: 100% !important;
    }
}
