/* https://stackoverflow.com/questions/48065133/dynamic-width-flexboxes-that-wrap-yet-keep-column-structure */
.companyCards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.companyOuterCard {
    display: flex;
    flex: 0 1 calc(25% - 1em);
    flex-basis: 300px;
    min-height: 300px;
    max-width: 430px;
    flex-direction: column;
    border-radius: 8px;

    margin: 5px;
    padding: 10px;
    margin-left: 10px;
    transition: .2s ease;

    box-shadow: rgb(33 33 33 / 30%) 0px 2px 10px 1px;
    cursor: default;
}

.companyOuterCard:hover {
    box-shadow: rgb(33 33 33 / 60%) 0px 2px 10px 1px;
}

.categoryContainer {
    display : flex;
    align-items: right;
    justify-content:flex-end;
    margin-top: -10px;

    align-items: top;
    vertical-align: top;
}

.companyCategory {
    font-size: 10px;
    line-height: 15px;
    background-color: white;
    border-radius: 0 8px 0 8px;
    display: inline-block;
    font-weight: 600;

    padding: 4px 6px;
    align-items: center;
    margin-right: -10px;
}

.companyInnerCard {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin-top: auto;
    margin-bottom: var(--inner-card-side-margin);
    margin-right: var(--inner-card-side-margin);
    margin-left: var(--inner-card-side-margin);
}

.companyName {
    font-size: 20px;
    line-height: 30px;
    color: rgb(46, 45, 41);
    font-weight: 600;
    margin: 0;
}

.companyInnerCard > p > a:hover {
    text-decoration: underline;
}

.companySubtitle {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: rgb(88, 87, 84);
}

.companyFounder {
    display: inline-block;
}

.companyFounder:hover {
    text-decoration: underline;
}

.fundingStage {
    margin-top: var(--inner-card-section-margin);
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    filter: brightness(90%);
}

.description {
    font-size: 10px;
    color: grey;
    margin-top: calc(var(--inner-card-section-margin)*2);
}

.noResults {
    display: flex;
    min-height: 300px;

    align-items: top;
    justify-content: center;

    font-style: italic;

    color: var(--light-grey)
}

.noResults > div {
    margin-top: 40px
}