.navbar {
    color: black;
    background-color: white;
    margin: 0;

    line-height: 1.5;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    box-shadow: 0 1px 0px rgb(0 0 0 / 7%);
    /* TODO: make this fixed */
}

.navbar p, .navbar a {
    line-height: 1.5;
    padding: .5rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.navbarRight {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.navbarRight > div {
    padding: 8px 16px;
    margin-left: 1rem;
}

.navButton, .directory, .brand_no_directory {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navButton:hover, .directory:hover {
    color: #ccc;
}

.brand {
    color: black;
    font-weight: 800;
    text-decoration: none;
}

@media (max-width: 600px) {
    .navbarRight {
        font-size: 12px;
        text-align: center;
    }

    .navbarRight > div {
        margin-left: 0px;
        padding: 4px 8px;
    }

    .brand {
        font-size: 12px;
        padding: 0px!important;
    }

    .navbar {
        width: 100vw;
    }
}